<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
    <meta charset="UTF-8">
    <title>Register User</title>
</head>
<body>
<h1>Register a user</h1>
<form th:action="@{/processAccount}" th:object="${account}" method="post">
    <input type="hidden" th:field="*{id}" />


    <p>Enter First Name <br/>
        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span><br/>
        <input type="firstName" placeholder="First Name" th:field="*{firstName}"><br/></p>

    <p>Enter Last Name <br/>
        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span><br/>
        <input type="lastName" placeholder="Last Name" th:field="*{lastName}"><br/></p>

    <p>Enter Email <br/>
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span><br/>
        <input type="email" placeholder="Email" th:field="*{email}"><br/></p>

    <p>Enter Phone Number <br/>
        <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span><br/>
        <input type="phoneNumber" placeholder="Phone Number" th:field="*{phoneNumber}"><br/></p>

    <p>Enter City <br/>
        <span th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span><br/>
        <input type="city" placeholder="City" th:field="*{city}"><br/></p>

    <p>Enter State <br/>
        <span th:if="${#fields.hasErrors('state')}" th:errors="*{state}"></span><br/>
        <input type="state" placeholder="State" th:field="*{state}"><br/></p>

    <p>Enter University/College <br/>
        <span th:if="${#fields.hasErrors('university')}" th:errors="*{university}"></span><br/>
        <input type="university" placeholder="University" th:field="*{university}"><br/></p>

    <p>Enter Major <br/>
        <span th:if="${#fields.hasErrors('major')}" th:errors="*{major}"></span><br/>
        <input type="major" placeholder="Major" th:field="*{major}"><br/></p>


    <input type="submit" value="Submit">

</form>
</body>
</html>